@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root{
    --font01: 
}

body{
    height: 100vh;
}

header{
    background-color: black;
    color:white;
    min-height: 150px;
    text-align: center;
    
}
header > h1{
    padding-top: 40px;
    font-size: 6vw ;
    font-variant: small-caps;
    
    
}
header > p{
    padding-bottom: 40px;
}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header a:hover{
    text-decoration: underline;
    color: blue;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha', cursive;
    font-weight: bold;
    font-size: 1.1em;
    
}
section.imagem{
    background-color: gray;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.363);
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    display: inline-block;
    padding: 6px;
    text-shadow: 1px 1px 1px black;
    
    
} 
.normal{
    background-color: white;

}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    
  
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    
    
}
footer{
    background-color: black;
    color: white;
    min-height: 50px;
    text-align: center;
}
footer> p{
    padding-top: 15px;
}